Control Motor and Leme with USB_V8.1/GroundStation.txt
[
    {
        "id": "cc39bf8743eb857c",
        "type": "tab",
        "label": "GroundStation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7f0e257ac939015c",
        "type": "worldmap",
        "z": "cc39bf8743eb857c",
        "name": "",
        "lat": "38.7223",
        "lon": "-9.1393",
        "zoom": "12",
        "layer": "EsriT",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RW,SN",
        "maplist": "OSMG,OSMC,EsriS,EsriT,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1420,
        "y": 220,
        "wires": []
    },
    {
        "id": "865886d942d523e2",
        "type": "mongodb-aleph-out",
        "z": "cc39bf8743eb857c",
        "mongodb": "96e7ebf37fcc7789",
        "name": "InsertGPSTimeDB",
        "collection": "ASV-GPS-Data",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 1070,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d50bae19f6e9ec90",
        "type": "debug",
        "z": "cc39bf8743eb857c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 300,
        "wires": []
    },
    {
        "id": "20a4a62237a9b865",
        "type": "function",
        "z": "cc39bf8743eb857c",
        "name": "Check Map Event",
        "func": "var newobject = {};\n\nif (msg.payload.action === \"point\") {\n    newobject = { lat: msg.payload.lat, lon: msg.payload.lon, name: msg.payload.point, radius: 500 };\n    msg.payload = newobject;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 20,
        "wires": [
            [
                "7f0e257ac939015c"
            ]
        ]
    },
    {
        "id": "7024a5b22492f007",
        "type": "worldmap in",
        "z": "cc39bf8743eb857c",
        "name": "",
        "path": "/worldmap",
        "events": "connect,disconnect,point,layer,bounds,files,draw,other",
        "x": 1000,
        "y": 20,
        "wires": [
            [
                "20a4a62237a9b865"
            ]
        ]
    },
    {
        "id": "f0f9994d8a420ccf",
        "type": "serial in",
        "z": "cc39bf8743eb857c",
        "name": "LoRa Receiver",
        "serial": "1d73bf26433c1923",
        "x": 80,
        "y": 220,
        "wires": [
            [
                "c836291d32aded89",
                "d50bae19f6e9ec90"
            ]
        ]
    },
    {
        "id": "51a8bedaea3e7e00",
        "type": "nmea",
        "z": "cc39bf8743eb857c",
        "name": "",
        "property": "payload",
        "outputProperty": "payload",
        "x": 630,
        "y": 220,
        "wires": [
            [
                "2be317ed974aeb6b",
                "a0f8213403386867"
            ]
        ]
    },
    {
        "id": "2be317ed974aeb6b",
        "type": "function",
        "z": "cc39bf8743eb857c",
        "name": "Form Worldmap Message",
        "func": "msg.payload.icon = \"fa-ship\";\nmsg.payload = {\"name\":global.get(\"ASVname\"),\"timestamp\":msg.payload.timestamp,\"icon\":\"fa-ship\", \"lat\":msg.payload.lat, \"lon\":msg.payload.lon}\nnode.warn(msg.payload);\nreturn msg.payload;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\nreturn msg",
        "libs": [],
        "x": 850,
        "y": 220,
        "wires": [
            [
                "7f0e257ac939015c",
                "3d24ec3a2141a21b",
                "b950e8c3601b521b",
                "aa820f55e5c3bc66",
                "b81f0d67a711184a",
                "4e16ee0d351161b9",
                "76f20a4a721ba39a"
            ]
        ]
    },
    {
        "id": "2bb391faf8133ab8",
        "type": "ui_worldmap",
        "z": "cc39bf8743eb857c",
        "group": "5fbf2137c501ca6c",
        "order": 9,
        "width": "0",
        "height": "0",
        "name": "",
        "lat": "38.7223",
        "lon": "-9.1393",
        "zoom": "12",
        "layer": "EsriT",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "deg",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1420,
        "y": 280,
        "wires": []
    },
    {
        "id": "1e4596c91b7d4e11",
        "type": "ui_gauge",
        "z": "cc39bf8743eb857c",
        "name": "Speed",
        "group": "5fbf2137c501ca6c",
        "order": 11,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Speed over Water",
        "label": "Knots",
        "format": "{{msg.payload.speedKnots}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.5",
        "seg2": "0.7",
        "className": "",
        "x": 1410,
        "y": 540,
        "wires": []
    },
    {
        "id": "76f20a4a721ba39a",
        "type": "ui_gauge",
        "z": "cc39bf8743eb857c",
        "name": "Direction",
        "group": "5fbf2137c501ca6c",
        "order": 10,
        "width": "4",
        "height": "4",
        "gtype": "compass",
        "title": "{{payload.trackTrue}}",
        "label": "Degrees",
        "format": "{{payload.trackTrue}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1420,
        "y": 480,
        "wires": []
    },
    {
        "id": "c836291d32aded89",
        "type": "function",
        "z": "cc39bf8743eb857c",
        "name": "Restrict Inputs",
        "func": "if (msg.payload.length >= 20) {\n\n    /*if (msg.payload[msg.payload.length - 5].toString(16) == \"*\" && msg.payload[0].toString(16) == \"$\") {\n        var status = {payload: \"Updated\"}\n        return [msg, status];\n    } */\n    if (msg.payload[5].toString(16) == \"+\"){\n        const str = msg.payload;\n        const id = str.split('+');\n        var name = { payload: id[0] };\n        global.set(\"ASVname\", id[0]);\n        if (msg.payload[msg.payload.length - 5].toString(16) == \"*\" ){\n            msg.payload = id[1]\n            msg.payload.icon = \"fa-ship\";\n            node.warn(msg.payload + \"\\n Passed restrictions\");\n            return [msg,name]\n        }   else \n            msg.payload.ack = \"msg incomplete\"\n       // node.warn(msg);\n    }   else {\n        node.warn(msg.payload+\"\\n Didnt pass restrictions\");\n    }\n}\nif (msg.payload == \"Valid\\n\\r\" || msg.payload == \"Unknown\\n\\r\")\n    return [msg,]\n//msg.payload = msg.payload[msg.payload.length - 3];\nreturn;\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 220,
        "wires": [
            [
                "041378fd577b6063",
                "a674e0d441c84cba"
            ],
            [
                "084fede560ee3108"
            ]
        ]
    },
    {
        "id": "3d24ec3a2141a21b",
        "type": "ui_valuetrail",
        "z": "cc39bf8743eb857c",
        "group": "5fbf2137c501ca6c",
        "order": 15,
        "width": "4",
        "height": "2",
        "name": "Latitude",
        "label": "",
        "unit": "",
        "blur": false,
        "minmax": false,
        "allowtoggle": false,
        "showvalue": true,
        "decimals": "3",
        "colorLine": "#ff4000",
        "colorFromTheme": false,
        "stroke": 2,
        "property": "payload.lat",
        "pointcount": "3",
        "x": 1420,
        "y": 380,
        "wires": []
    },
    {
        "id": "b950e8c3601b521b",
        "type": "ui_valuetrail",
        "z": "cc39bf8743eb857c",
        "group": "5fbf2137c501ca6c",
        "order": 17,
        "width": "4",
        "height": "2",
        "name": "Longitude",
        "label": "",
        "unit": "",
        "blur": false,
        "minmax": false,
        "allowtoggle": false,
        "showvalue": true,
        "decimals": "3",
        "colorLine": "#ff9900",
        "colorFromTheme": false,
        "stroke": "3",
        "property": "payload.lon",
        "pointcount": "6",
        "x": 1420,
        "y": 340,
        "wires": []
    },
    {
        "id": "aa820f55e5c3bc66",
        "type": "ui_level",
        "z": "cc39bf8743eb857c",
        "group": "5fbf2137c501ca6c",
        "order": 12,
        "width": "3",
        "height": "3",
        "name": "",
        "label": "Speed",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "1",
        "segWarn": "0.3",
        "segHigh": "0.5",
        "unit": "Knots",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "3",
        "animations": "rocket",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.speedKnots",
        "peaktime": 3000,
        "x": 1410,
        "y": 420,
        "wires": []
    },
    {
        "id": "ba9242f97960099c",
        "type": "ui_text",
        "z": "cc39bf8743eb857c",
        "group": "5fbf2137c501ca6c",
        "order": 1,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "b81f0d67a711184a",
        "type": "worldmap-tracks",
        "z": "cc39bf8743eb857c",
        "name": "",
        "depth": 20,
        "layer": "combined",
        "smooth": true,
        "x": 1270,
        "y": 280,
        "wires": [
            [
                "2bb391faf8133ab8"
            ]
        ]
    },
    {
        "id": "18aaef3d16825703",
        "type": "trigger",
        "z": "cc39bf8743eb857c",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "payload.speedKnots",
        "outputs": 1,
        "x": 1190,
        "y": 540,
        "wires": [
            [
                "1e4596c91b7d4e11"
            ]
        ]
    },
    {
        "id": "027d020be9a5a17b",
        "type": "trigger",
        "z": "cc39bf8743eb857c",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "payload.trackTrue",
        "outputs": 1,
        "x": 1190,
        "y": 480,
        "wires": [
            [
                "76f20a4a721ba39a"
            ]
        ]
    },
    {
        "id": "4e16ee0d351161b9",
        "type": "switch",
        "z": "cc39bf8743eb857c",
        "name": "",
        "property": "payload.sentence",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "RMC",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 500,
        "wires": [
            [
                "027d020be9a5a17b",
                "18aaef3d16825703"
            ]
        ]
    },
    {
        "id": "f105563bda06fce6",
        "type": "ui_level",
        "z": "cc39bf8743eb857c",
        "group": "5fbf2137c501ca6c",
        "order": 13,
        "width": "3",
        "height": "3",
        "name": "Temp",
        "label": "Temperature",
        "colorHi": "#e60000",
        "colorWarn": "#20cf20",
        "colorNormal": "#f9b43e",
        "colorOff": "#595959",
        "min": "-10",
        "max": "50",
        "segWarn": "5",
        "segHigh": "30",
        "unit": "Celsius",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "3",
        "animations": "rocket",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1410,
        "y": 600,
        "wires": []
    },
    {
        "id": "47907acae98212eb",
        "type": "switch",
        "z": "cc39bf8743eb857c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "-10",
                "vt": "num",
                "v2": "50",
                "v2t": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 600,
        "wires": [
            [
                "f105563bda06fce6"
            ]
        ]
    },
    {
        "id": "20e04c938c881fa3",
        "type": "ui_level",
        "z": "cc39bf8743eb857c",
        "group": "5fbf2137c501ca6c",
        "order": 14,
        "width": "3",
        "height": "3",
        "name": "Pressure",
        "label": "Pressure",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "3",
        "segWarn": "1",
        "segHigh": "1.5",
        "unit": "Bars",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "3",
        "animations": "rocket",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1420,
        "y": 660,
        "wires": []
    },
    {
        "id": "41de1b9a1646da08",
        "type": "split",
        "z": "cc39bf8743eb857c",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": "5",
        "arraySpltType": "len",
        "stream": true,
        "addname": "payload.Temp",
        "x": 850,
        "y": 600,
        "wires": [
            [
                "47907acae98212eb"
            ]
        ]
    },
    {
        "id": "041378fd577b6063",
        "type": "switch",
        "z": "cc39bf8743eb857c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "GLL",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "RMC",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "TempAir",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Barometer",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ACKNOWLEDGE",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Unknown",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Valid",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "51a8bedaea3e7e00"
            ],
            [
                "51a8bedaea3e7e00"
            ],
            [
                "41de1b9a1646da08"
            ],
            [
                "574665255fc325a2"
            ],
            [
                "18e50ce12781443a"
            ],
            [
                "ba9242f97960099c"
            ],
            [
                "ba9242f97960099c"
            ],
            [
                "ba9242f97960099c"
            ]
        ]
    },
    {
        "id": "574665255fc325a2",
        "type": "split",
        "z": "cc39bf8743eb857c",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": "5",
        "arraySpltType": "len",
        "stream": true,
        "addname": "payload.Temp",
        "x": 850,
        "y": 660,
        "wires": [
            [
                "be97f49077c1f4a5"
            ]
        ]
    },
    {
        "id": "be97f49077c1f4a5",
        "type": "switch",
        "z": "cc39bf8743eb857c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "10",
                "v2t": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 660,
        "wires": [
            [
                "20e04c938c881fa3"
            ]
        ]
    },
    {
        "id": "ce13999010f2480e",
        "type": "mongodb-aleph-out",
        "z": "cc39bf8743eb857c",
        "mongodb": "96e7ebf37fcc7789",
        "name": "Information Sent mongoDB",
        "collection": "ASV-GPS-Data",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 1500,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "a674e0d441c84cba",
        "type": "debug",
        "z": "cc39bf8743eb857c",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 320,
        "wires": []
    },
    {
        "id": "bcbc594b605660f2",
        "type": "serial out",
        "z": "cc39bf8743eb857c",
        "name": "LoRa Sender",
        "serial": "1d73bf26433c1923",
        "x": 1450,
        "y": 980,
        "wires": []
    },
    {
        "id": "fb68e337f433690c",
        "type": "delay",
        "z": "cc39bf8743eb857c",
        "name": "",
        "pauseType": "rate",
        "timeout": "35",
        "timeoutUnits": "milliseconds",
        "rate": "4",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 970,
        "y": 980,
        "wires": [
            [
                "7c7978113e3639c1",
                "c92d455dbaa5627a",
                "eb45b0ce01142471"
            ]
        ]
    },
    {
        "id": "0a286f349d8bb8f3",
        "type": "ui_switch",
        "z": "cc39bf8743eb857c",
        "name": "",
        "label": "Pilot",
        "tooltip": "",
        "group": "5fbf2137c501ca6c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "pilot",
        "topicType": "str",
        "style": "",
        "onvalue": "RCON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "RCOFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 310,
        "y": 1080,
        "wires": [
            [
                "ed5b400253aaf270",
                "b926f4d6ed9c26f7"
            ]
        ]
    },
    {
        "id": "8d38fb5ad4e68412",
        "type": "ui_slider",
        "z": "cc39bf8743eb857c",
        "name": "",
        "label": "Speed Guide",
        "tooltip": "",
        "group": "5fbf2137c501ca6c",
        "order": 7,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "end",
        "topic": "speed",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 330,
        "y": 1020,
        "wires": [
            [
                "be2fc53d3bcef096",
                "ee5ad316e5448dc8"
            ]
        ]
    },
    {
        "id": "7c7978113e3639c1",
        "type": "show-value",
        "z": "cc39bf8743eb857c",
        "name": "",
        "path": "",
        "x": 1190,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "62e3c9a786add8f4",
        "type": "ui_text",
        "z": "cc39bf8743eb857c",
        "group": "5fbf2137c501ca6c",
        "order": 4,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "Steering Set",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 570,
        "y": 960,
        "wires": []
    },
    {
        "id": "be2fc53d3bcef096",
        "type": "ui_text",
        "z": "cc39bf8743eb857c",
        "group": "5fbf2137c501ca6c",
        "order": 5,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "Speed Set",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 550,
        "y": 1040,
        "wires": []
    },
    {
        "id": "7203eae8d7a15399",
        "type": "ui_text_input",
        "z": "cc39bf8743eb857c",
        "name": "",
        "label": "Target",
        "tooltip": "",
        "group": "5fbf2137c501ca6c",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "450",
        "topic": "target",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 310,
        "y": 920,
        "wires": [
            [
                "9f2d4062ed05b659",
                "51823516188c6dfd"
            ]
        ]
    },
    {
        "id": "413b666e8d429be6",
        "type": "ui_slider",
        "z": "cc39bf8743eb857c",
        "name": "",
        "label": "Steering guide",
        "tooltip": "",
        "group": "5fbf2137c501ca6c",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "end",
        "topic": "steering",
        "topicType": "str",
        "min": 0,
        "max": "10",
        "step": 1,
        "className": "",
        "x": 340,
        "y": 980,
        "wires": [
            [
                "ee5ad316e5448dc8",
                "62e3c9a786add8f4"
            ]
        ]
    },
    {
        "id": "ee5ad316e5448dc8",
        "type": "join",
        "z": "cc39bf8743eb857c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 810,
        "y": 980,
        "wires": [
            [
                "fb68e337f433690c"
            ]
        ]
    },
    {
        "id": "a11849cb0d7abee8",
        "type": "debug",
        "z": "cc39bf8743eb857c",
        "name": "Sent Message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 1040,
        "wires": []
    },
    {
        "id": "3dc88cf339e586a6",
        "type": "ui_button",
        "z": "cc39bf8743eb857c",
        "name": "",
        "group": "5fbf2137c501ca6c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Contact Ack",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "respond",
        "payloadType": "str",
        "topic": "boat",
        "topicType": "str",
        "x": 330,
        "y": 1180,
        "wires": [
            [
                "678ea4d46e703272",
                "a98adff7afd34cd6",
                "b926f4d6ed9c26f7"
            ]
        ]
    },
    {
        "id": "9f2d4062ed05b659",
        "type": "looptimer-advanced",
        "z": "cc39bf8743eb857c",
        "duration": "500",
        "units": "Millisecond",
        "maxloops": "20000",
        "maxtimeout": "3",
        "maxtimeoutunits": "Minute",
        "name": "",
        "x": 520,
        "y": 920,
        "wires": [
            [
                "ee5ad316e5448dc8"
            ],
            []
        ]
    },
    {
        "id": "ed5b400253aaf270",
        "type": "looptimer-advanced",
        "z": "cc39bf8743eb857c",
        "duration": "1.1",
        "units": "Second",
        "maxloops": "0",
        "maxtimeout": "1",
        "maxtimeoutunits": "Hour",
        "name": "",
        "x": 530,
        "y": 1080,
        "wires": [
            [
                "ee5ad316e5448dc8"
            ],
            []
        ]
    },
    {
        "id": "c92d455dbaa5627a",
        "type": "ui_text",
        "z": "cc39bf8743eb857c",
        "group": "5fbf2137c501ca6c",
        "order": 16,
        "width": "5",
        "height": "4",
        "name": "",
        "label": "Message",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1180,
        "y": 1040,
        "wires": []
    },
    {
        "id": "678ea4d46e703272",
        "type": "looptimer-advanced",
        "z": "cc39bf8743eb857c",
        "duration": "502",
        "units": "Millisecond",
        "maxloops": "10",
        "maxtimeout": "5",
        "maxtimeoutunits": "Second",
        "name": "",
        "x": 540,
        "y": 1180,
        "wires": [
            [
                "7285bb5a24cb6b28"
            ],
            []
        ]
    },
    {
        "id": "7285bb5a24cb6b28",
        "type": "show-value",
        "z": "cc39bf8743eb857c",
        "name": "",
        "path": "",
        "x": 790,
        "y": 1080,
        "wires": [
            [
                "ee5ad316e5448dc8"
            ]
        ]
    },
    {
        "id": "eb45b0ce01142471",
        "type": "function",
        "z": "cc39bf8743eb857c",
        "name": "Restrict Inputs",
        "func": "var array = \"\";\nif (!(msg.payload.target === undefined))\n    array = msg.payload.target;\n    if (!(msg.payload.steering === undefined))\n        array = array + \"D,\"+ msg.payload.steering;\n    if (!(msg.payload.speed === undefined))\n        array = array + \"S,\" + msg.payload.speed;\n    if (!(msg.payload.boat === undefined))\n        array = array + \"ack:\" + msg.payload.boat;\n    if (!(msg.payload.pilot === undefined))\n        array = array + \"RC: \" + msg.payload.pilot;\nmsg.payload = array; \nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 980,
        "wires": [
            [
                "a11849cb0d7abee8",
                "bcbc594b605660f2"
            ]
        ]
    },
    {
        "id": "084fede560ee3108",
        "type": "ui_text",
        "z": "cc39bf8743eb857c",
        "group": "5fbf2137c501ca6c",
        "order": 1,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "Last Node",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "a98adff7afd34cd6",
        "type": "ui_audio",
        "z": "cc39bf8743eb857c",
        "name": "",
        "group": "5fbf2137c501ca6c",
        "voice": "Microsoft Helia - Portuguese (Portugal)",
        "always": "",
        "x": 500,
        "y": 1240,
        "wires": []
    },
    {
        "id": "b926f4d6ed9c26f7",
        "type": "ui_toast",
        "z": "cc39bf8743eb857c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 530,
        "y": 1120,
        "wires": []
    },
    {
        "id": "51823516188c6dfd",
        "type": "ui_audio",
        "z": "cc39bf8743eb857c",
        "name": "",
        "group": "5fbf2137c501ca6c",
        "voice": "Microsoft Helia - Portuguese (Portugal)",
        "always": "",
        "x": 480,
        "y": 880,
        "wires": []
    },
    {
        "id": "18e50ce12781443a",
        "type": "ui_audio",
        "z": "cc39bf8743eb857c",
        "name": "",
        "group": "5fbf2137c501ca6c",
        "voice": "Microsoft Helia - Portuguese (Portugal)",
        "always": "",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "fd058401850dae57",
        "type": "inject",
        "z": "cc39bf8743eb857c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "empty",
        "payloadType": "str",
        "x": 540,
        "y": 20,
        "wires": [
            [
                "ba9242f97960099c"
            ]
        ]
    },
    {
        "id": "a0f8213403386867",
        "type": "debug",
        "z": "cc39bf8743eb857c",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "bc1a130a302ae1c5",
        "type": "inject",
        "z": "cc39bf8743eb857c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "empty",
        "payloadType": "str",
        "x": 1200,
        "y": 200,
        "wires": [
            [
                "7f0e257ac939015c"
            ]
        ]
    },
    {
        "id": "96e7ebf37fcc7789",
        "type": "mongodb-aleph-config",
        "hostname": "asv-tracker.ubzg5ni.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "ASV-Tracker",
        "name": "SEAIoT-Database"
    },
    {
        "id": "1d73bf26433c1923",
        "type": "serial-port",
        "serialport": "COM7",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "5fbf2137c501ca6c",
        "type": "ui_group",
        "name": "Monitoring Dashboard",
        "tab": "f76c8797.584da8",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f76c8797.584da8",
        "type": "ui_tab",
        "name": "GPS Tracker",
        "icon": "gps_fixed",
        "order": 21
    }
]