Node-Red/GroundStation/BaseStation_ARM_GY-91_TCA_Working.json
[
    {
        "id": "1ee43e5e33293900",
        "type": "tab",
        "label": "GroundStation_V_6.2.1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "41605b528d073148",
        "type": "worldmap",
        "z": "1ee43e5e33293900",
        "name": "",
        "lat": "38.7223",
        "lon": "-9.1393",
        "zoom": "12",
        "layer": "EsriT",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RW,SN",
        "maplist": "OSMG,OSMC,EsriS,EsriT,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1560,
        "y": 380,
        "wires": []
    },
    {
        "id": "4899148232ad38d0",
        "type": "mongodb-aleph-out",
        "z": "1ee43e5e33293900",
        "mongodb": "96e7ebf37fcc7789",
        "name": "InsertGPSTimeDB",
        "collection": "ASV-GPS-Data",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 1110,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "814e4e369dcb00f3",
        "type": "function",
        "z": "1ee43e5e33293900",
        "name": "Check Map Event",
        "func": "var newobject = {};\n\nif (msg.payload.action === \"point\") {\n    newobject = { lat: msg.payload.lat, lon: msg.payload.lon, name: msg.payload.point, radius: 500 };\n    msg.payload = newobject;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 340,
        "wires": [
            [
                "41605b528d073148"
            ]
        ]
    },
    {
        "id": "1900af1504693cf0",
        "type": "worldmap in",
        "z": "1ee43e5e33293900",
        "name": "",
        "path": "/worldmap",
        "events": "connect,disconnect,point,layer,bounds,files,draw,other",
        "x": 1540,
        "y": 300,
        "wires": [
            [
                "814e4e369dcb00f3"
            ]
        ]
    },
    {
        "id": "db3a292b18e13829",
        "type": "serial in",
        "z": "1ee43e5e33293900",
        "name": "LoRa Receiver",
        "serial": "1d73bf26433c1923",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "e6ae4963b766acec",
                "70af46523631a817"
            ]
        ]
    },
    {
        "id": "e49729713ac9f4f3",
        "type": "nmea",
        "z": "1ee43e5e33293900",
        "name": "",
        "property": "payload",
        "outputProperty": "payload",
        "x": 670,
        "y": 360,
        "wires": [
            [
                "c50891b2f08bca65",
                "e79a3209a3377be7"
            ]
        ]
    },
    {
        "id": "c50891b2f08bca65",
        "type": "function",
        "z": "1ee43e5e33293900",
        "name": "Form Worldmap Message",
        "func": "msg.payload.name = \"ASV-1\";\nmsg.payload.icon = \"fa-ship\";\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\nreturn msg",
        "libs": [],
        "x": 910,
        "y": 360,
        "wires": [
            [
                "41605b528d073148",
                "870631f95e47c788",
                "cdfb8977f01ace19",
                "b3eec900108c52d5",
                "f136cbd25fcd3a32",
                "8fdee5c02b54e87e",
                "31b5adbc03c8e86d"
            ]
        ]
    },
    {
        "id": "8760f75c4563de6b",
        "type": "ui_gauge",
        "z": "1ee43e5e33293900",
        "name": "Speed",
        "group": "5fbf2137c501ca6c",
        "order": 11,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Speed over Water",
        "label": "Knots",
        "format": "{{msg.payload.speedKnots}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "10",
        "className": "",
        "x": 1550,
        "y": 700,
        "wires": []
    },
    {
        "id": "31b5adbc03c8e86d",
        "type": "ui_gauge",
        "z": "1ee43e5e33293900",
        "name": "Direction",
        "group": "5fbf2137c501ca6c",
        "order": 10,
        "width": "4",
        "height": "4",
        "gtype": "compass",
        "title": "{{payload.trackTrue}}",
        "label": "Degrees",
        "format": "{{payload.trackTrue}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1560,
        "y": 640,
        "wires": []
    },
    {
        "id": "e6ae4963b766acec",
        "type": "function",
        "z": "1ee43e5e33293900",
        "name": "Restrict Inputs",
        "func": "if (msg.payload.length >= 20) {\n    if (msg.payload.includes(\"ASV\") && msg.payload[msg.payload.length - 5].toString(16) == \"*\") {\n        const str = msg.payload;\n        const id = str.split('+');\n\n        var status = { payload: \"Updated\" }\n        var name = { payload: id[0] };\n        //node.warn(\" Name is: \" + name.payload);\n\n        const bar = { payload: id[1] };\n        const bardiv = bar.payload.split(',');\n        bar.payload = bardiv[1];\n        //node.warn(\" Pressure is: \" + bar.payload);\n\n        var temp = { payload: id[2] };\n        const tempdiv = temp.payload.split(',');\n        temp.payload = tempdiv[1];\n        //node.warn(\" Temperature is: \" + temp.payload);\n\n        var rmc = { payload: id[3] };\n        rmc.payload.icon = \"fa-ship\";\n        //node.warn(rmc.payload);\n\n        msg.payload.name = \"ASV-1\";\n        msg.payload.icon = \"fa-ship\";\n        return [rmc, bar, temp, name, status]\n    }\n}\nif (msg.payload == \"Valid\\r\\n\" || msg.payload == \"Unknown\\r\\n\")\n    return [null,null,null,null,msg];\nif(msg.payload.includes(\"ACKNOWLEDGE\"))\n    return [null, null, null, null, msg];\n//msg.payload = msg.payload[msg.payload.length - 3];\nreturn;",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 380,
        "wires": [
            [
                "e49729713ac9f4f3"
            ],
            [
                "5a89a3f571b4ccb9",
                "4a08ecccd7cdf53b"
            ],
            [
                "499f0e841d069a5b",
                "0329c7e8fea801c0"
            ],
            [
                "9a2f3a3f1b619237",
                "a43bd43f0c7f6602"
            ],
            [
                "e1bcfd7c67024d82"
            ]
        ]
    },
    {
        "id": "870631f95e47c788",
        "type": "ui_valuetrail",
        "z": "1ee43e5e33293900",
        "group": "5fbf2137c501ca6c",
        "order": 15,
        "width": "4",
        "height": "2",
        "name": "Latitude",
        "label": "",
        "unit": "",
        "blur": false,
        "minmax": false,
        "allowtoggle": false,
        "showvalue": true,
        "decimals": "5",
        "colorLine": "#ff4000",
        "colorFromTheme": false,
        "stroke": 2,
        "property": "payload.lat",
        "pointcount": "3",
        "x": 1560,
        "y": 540,
        "wires": []
    },
    {
        "id": "cdfb8977f01ace19",
        "type": "ui_valuetrail",
        "z": "1ee43e5e33293900",
        "group": "5fbf2137c501ca6c",
        "order": 17,
        "width": "4",
        "height": "2",
        "name": "Longitude",
        "label": "",
        "unit": "",
        "blur": false,
        "minmax": false,
        "allowtoggle": false,
        "showvalue": true,
        "decimals": "5",
        "colorLine": "#ff9900",
        "colorFromTheme": false,
        "stroke": "3",
        "property": "payload.lon",
        "pointcount": "6",
        "x": 1560,
        "y": 500,
        "wires": []
    },
    {
        "id": "b3eec900108c52d5",
        "type": "ui_level",
        "z": "1ee43e5e33293900",
        "group": "5fbf2137c501ca6c",
        "order": 12,
        "width": "3",
        "height": "3",
        "name": "",
        "label": "Speed",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "5",
        "segWarn": "2",
        "segHigh": "4",
        "unit": "Knots",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "3",
        "animations": "rocket",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.speedKnots",
        "peaktime": 3000,
        "x": 1550,
        "y": 580,
        "wires": []
    },
    {
        "id": "53fabb4db148a01f",
        "type": "ui_text",
        "z": "1ee43e5e33293900",
        "group": "5fbf2137c501ca6c",
        "order": 1,
        "width": "4",
        "height": "2",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 850,
        "y": 560,
        "wires": []
    },
    {
        "id": "f136cbd25fcd3a32",
        "type": "worldmap-tracks",
        "z": "1ee43e5e33293900",
        "name": "",
        "depth": 20,
        "layer": "combined",
        "smooth": true,
        "x": 1410,
        "y": 420,
        "wires": [
            [
                "2cef38d602939f3f"
            ]
        ]
    },
    {
        "id": "4493730c8a9eb2b0",
        "type": "trigger",
        "z": "1ee43e5e33293900",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "payload.speedKnots",
        "outputs": 1,
        "x": 1330,
        "y": 700,
        "wires": [
            [
                "8760f75c4563de6b"
            ]
        ]
    },
    {
        "id": "fdb089c5e14efd7b",
        "type": "trigger",
        "z": "1ee43e5e33293900",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "payload.trackTrue",
        "outputs": 1,
        "x": 1330,
        "y": 640,
        "wires": [
            [
                "31b5adbc03c8e86d"
            ]
        ]
    },
    {
        "id": "8fdee5c02b54e87e",
        "type": "switch",
        "z": "1ee43e5e33293900",
        "name": "",
        "property": "payload.sentence",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "RMC",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1150,
        "y": 660,
        "wires": [
            [
                "fdb089c5e14efd7b",
                "4493730c8a9eb2b0"
            ]
        ]
    },
    {
        "id": "0329c7e8fea801c0",
        "type": "ui_level",
        "z": "1ee43e5e33293900",
        "group": "5fbf2137c501ca6c",
        "order": 13,
        "width": "3",
        "height": "3",
        "name": "Temp",
        "label": "Temperature",
        "colorHi": "#e60000",
        "colorWarn": "#20cf20",
        "colorNormal": "#f9b43e",
        "colorOff": "#595959",
        "min": "-10",
        "max": "50",
        "segWarn": "5",
        "segHigh": "30",
        "unit": "Celsius",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "3",
        "animations": "rocket",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 670,
        "y": 460,
        "wires": []
    },
    {
        "id": "5a89a3f571b4ccb9",
        "type": "ui_level",
        "z": "1ee43e5e33293900",
        "group": "5fbf2137c501ca6c",
        "order": 14,
        "width": "6",
        "height": "3",
        "name": "Pressure",
        "label": "Pressure",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "800",
        "max": "1100",
        "segWarn": "850",
        "segHigh": "1050",
        "unit": "Bars",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "3",
        "animations": "rocket",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "70af46523631a817",
        "type": "debug",
        "z": "1ee43e5e33293900",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 460,
        "wires": []
    },
    {
        "id": "e1bcfd7c67024d82",
        "type": "show-value",
        "z": "1ee43e5e33293900",
        "name": "",
        "path": "",
        "x": 690,
        "y": 560,
        "wires": [
            [
                "53fabb4db148a01f"
            ]
        ]
    },
    {
        "id": "11c29fa37f6ca36b",
        "type": "serial out",
        "z": "1ee43e5e33293900",
        "name": "LoRa Sender",
        "serial": "1d73bf26433c1923",
        "x": 1450,
        "y": 980,
        "wires": []
    },
    {
        "id": "ef9c1e78c40d3a18",
        "type": "delay",
        "z": "1ee43e5e33293900",
        "name": "",
        "pauseType": "rate",
        "timeout": "35",
        "timeoutUnits": "milliseconds",
        "rate": "4",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 970,
        "y": 980,
        "wires": [
            [
                "0f8d2391d3ac7e75",
                "54d4303fbe8c6211",
                "6219d4f6447b3148"
            ]
        ]
    },
    {
        "id": "6867fdcd5fb49fba",
        "type": "ui_switch",
        "z": "1ee43e5e33293900",
        "name": "",
        "label": "Pilot",
        "tooltip": "",
        "group": "5fbf2137c501ca6c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "pilot",
        "topicType": "str",
        "style": "",
        "onvalue": "RCON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "RCOFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 310,
        "y": 1080,
        "wires": [
            [
                "053bdc6cd9a5f7f3"
            ]
        ]
    },
    {
        "id": "499c2d373bc52c83",
        "type": "ui_slider",
        "z": "1ee43e5e33293900",
        "name": "",
        "label": "Speed Guide",
        "tooltip": "",
        "group": "5fbf2137c501ca6c",
        "order": 7,
        "width": "0",
        "height": "0",
        "passthru": true,
        "outs": "all",
        "topic": "speed",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 330,
        "y": 1020,
        "wires": [
            [
                "6e734c226b8610cc"
            ]
        ]
    },
    {
        "id": "0f8d2391d3ac7e75",
        "type": "show-value",
        "z": "1ee43e5e33293900",
        "name": "",
        "path": "",
        "x": 1190,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "2abe6aed9c97a7c4",
        "type": "ui_text_input",
        "z": "1ee43e5e33293900",
        "name": "",
        "label": "Target",
        "tooltip": "",
        "group": "5fbf2137c501ca6c",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "450",
        "topic": "target",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 310,
        "y": 920,
        "wires": [
            [
                "1ddf11c8340c343f"
            ]
        ]
    },
    {
        "id": "faa96fcace9cbc53",
        "type": "ui_slider",
        "z": "1ee43e5e33293900",
        "name": "",
        "label": "Steering guide",
        "tooltip": "",
        "group": "5fbf2137c501ca6c",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": true,
        "outs": "end",
        "topic": "steering",
        "topicType": "str",
        "min": 0,
        "max": "10",
        "step": 1,
        "className": "",
        "x": 340,
        "y": 980,
        "wires": [
            [
                "6e734c226b8610cc"
            ]
        ]
    },
    {
        "id": "6e734c226b8610cc",
        "type": "join",
        "z": "1ee43e5e33293900",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 770,
        "y": 980,
        "wires": [
            [
                "ef9c1e78c40d3a18"
            ]
        ]
    },
    {
        "id": "866c72fb69f023bf",
        "type": "debug",
        "z": "1ee43e5e33293900",
        "name": "Sent Message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 1040,
        "wires": []
    },
    {
        "id": "712e7ac69e3ee533",
        "type": "ui_button",
        "z": "1ee43e5e33293900",
        "name": "",
        "group": "5fbf2137c501ca6c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Contact Ack",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "respond",
        "payloadType": "str",
        "topic": "boat",
        "topicType": "str",
        "x": 330,
        "y": 1120,
        "wires": [
            [
                "a6b50d542a7e1557"
            ]
        ]
    },
    {
        "id": "1ddf11c8340c343f",
        "type": "looptimer-advanced",
        "z": "1ee43e5e33293900",
        "duration": "500",
        "units": "Millisecond",
        "maxloops": "20000",
        "maxtimeout": "3",
        "maxtimeoutunits": "Minute",
        "name": "",
        "x": 520,
        "y": 920,
        "wires": [
            [
                "6e734c226b8610cc"
            ],
            []
        ]
    },
    {
        "id": "053bdc6cd9a5f7f3",
        "type": "looptimer-advanced",
        "z": "1ee43e5e33293900",
        "duration": "1.1",
        "units": "Second",
        "maxloops": "0",
        "maxtimeout": "1",
        "maxtimeoutunits": "Hour",
        "name": "",
        "x": 530,
        "y": 1080,
        "wires": [
            [
                "6e734c226b8610cc"
            ],
            []
        ]
    },
    {
        "id": "54d4303fbe8c6211",
        "type": "ui_text",
        "z": "1ee43e5e33293900",
        "group": "5fbf2137c501ca6c",
        "order": 16,
        "width": "5",
        "height": "4",
        "name": "",
        "label": "Message",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1180,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a6b50d542a7e1557",
        "type": "looptimer-advanced",
        "z": "1ee43e5e33293900",
        "duration": "502",
        "units": "Millisecond",
        "maxloops": "10",
        "maxtimeout": "5",
        "maxtimeoutunits": "Second",
        "name": "",
        "x": 540,
        "y": 1120,
        "wires": [
            [
                "66c51f636fdaaa95"
            ],
            []
        ]
    },
    {
        "id": "66c51f636fdaaa95",
        "type": "show-value",
        "z": "1ee43e5e33293900",
        "name": "",
        "path": "",
        "x": 790,
        "y": 1080,
        "wires": [
            [
                "6e734c226b8610cc"
            ]
        ]
    },
    {
        "id": "6219d4f6447b3148",
        "type": "function",
        "z": "1ee43e5e33293900",
        "name": "Restrict Inputs",
        "func": "var array = \"\";\nif (!(msg.payload.target === undefined))\n    array = msg.payload.target;\n    if (!(msg.payload.steering === undefined))\n        array = array + \",\" + \"steer,\"+ msg.payload.steering;\n    if (!(msg.payload.speed === undefined))\n        array = array + \",\" + \"speed:\" + msg.payload.speed;\n    if (!(msg.payload.boat === undefined))\n        array = array + \",\" + \"ack:\" + msg.payload.boat;\n    if (!(msg.payload.pilot === undefined))\n        array = array + \",\" + \"RC: \" + msg.payload.pilot;\nmsg.payload = array; \nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 980,
        "wires": [
            [
                "866c72fb69f023bf",
                "11c29fa37f6ca36b"
            ]
        ]
    },
    {
        "id": "9a2f3a3f1b619237",
        "type": "ui_text",
        "z": "1ee43e5e33293900",
        "group": "5fbf2137c501ca6c",
        "order": 1,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "Connected ASV",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "0f017c34b704e181",
        "type": "debug",
        "z": "1ee43e5e33293900",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 300,
        "wires": []
    },
    {
        "id": "c0f9909bebb9e395",
        "type": "join",
        "z": "1ee43e5e33293900",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "payload",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 890,
        "y": 240,
        "wires": [
            [
                "4899148232ad38d0",
                "0f017c34b704e181"
            ]
        ]
    },
    {
        "id": "e79a3209a3377be7",
        "type": "delay",
        "z": "1ee43e5e33293900",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 300,
        "wires": [
            [
                "c0f9909bebb9e395"
            ]
        ]
    },
    {
        "id": "4a08ecccd7cdf53b",
        "type": "delay",
        "z": "1ee43e5e33293900",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 180,
        "wires": [
            [
                "c0f9909bebb9e395"
            ]
        ]
    },
    {
        "id": "499f0e841d069a5b",
        "type": "delay",
        "z": "1ee43e5e33293900",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 220,
        "wires": [
            [
                "c0f9909bebb9e395"
            ]
        ]
    },
    {
        "id": "a43bd43f0c7f6602",
        "type": "delay",
        "z": "1ee43e5e33293900",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 260,
        "wires": [
            [
                "c0f9909bebb9e395"
            ]
        ]
    },
    {
        "id": "2cef38d602939f3f",
        "type": "ui_worldmap",
        "z": "1ee43e5e33293900",
        "group": "5fbf2137c501ca6c",
        "order": 9,
        "width": "26",
        "height": "15",
        "name": "",
        "lat": "38.7223",
        "lon": "-9.1393",
        "zoom": "12",
        "layer": "EsriT",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "true",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1560,
        "y": 440,
        "wires": []
    },
    {
        "id": "96e7ebf37fcc7789",
        "type": "mongodb-aleph-config",
        "hostname": "asv-tracker.ubzg5ni.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "ASV-Tracker",
        "name": "SEAIoT-Database"
    },
    {
        "id": "1d73bf26433c1923",
        "type": "serial-port",
        "serialport": "COM7",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "5fbf2137c501ca6c",
        "type": "ui_group",
        "name": "Monitoring Dashboard",
        "tab": "f76c8797.584da8",
        "order": 1,
        "disp": true,
        "width": "35",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f76c8797.584da8",
        "type": "ui_tab",
        "name": "GPS Tracker",
        "icon": "gps_fixed",
        "order": 21
    }
]