Node-Red/ASV/asv_working_v4.json
[
    {
        "id": "b7f598b092ae7889",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13f6698a998390e3",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "a4cbdca0f131e30f",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "fb588a77507e0fd2",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "38400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "c3230c26883c4667",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "38400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "7cddf634856f138d",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "38400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "55e8b8b9b81f5d0d",
        "type": "serial out",
        "z": "b7f598b092ae7889",
        "name": "USB2Arduino",
        "serial": "a4cbdca0f131e30f",
        "x": 1060,
        "y": 260,
        "wires": []
    },
    {
        "id": "6e047e0124a7f5ec",
        "type": "serial in",
        "z": "b7f598b092ae7889",
        "name": "Arduino2USB",
        "serial": "a4cbdca0f131e30f",
        "x": 170,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "cc23724f39269571",
        "type": "tcp out",
        "z": "b7f598b092ae7889",
        "name": "GPSSignalK",
        "host": "localhost",
        "port": "10110",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 1050,
        "y": 100,
        "wires": []
    },
    {
        "id": "50810a8b16ab9b15",
        "type": "switch",
        "z": "b7f598b092ae7889",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "GLL",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "RMC",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "840db56a734ae809"
            ],
            [
                "fbc3e686c7e023ea"
            ]
        ]
    },
    {
        "id": "f30181b2127f5276",
        "type": "serial in",
        "z": "b7f598b092ae7889",
        "name": "dASIy",
        "serial": "7cddf634856f138d",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "cc23724f39269571",
                "1019c79a82e530c7"
            ]
        ]
    },
    {
        "id": "8eda919f2bfe01f4",
        "type": "serial in",
        "z": "b7f598b092ae7889",
        "name": "GPS",
        "serial": "fb588a77507e0fd2",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "50810a8b16ab9b15"
            ]
        ]
    },
    {
        "id": "1019c79a82e530c7",
        "type": "debug",
        "z": "b7f598b092ae7889",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 40,
        "wires": []
    },
    {
        "id": "67ba2b61dc72b68a",
        "type": "debug",
        "z": "b7f598b092ae7889",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 180,
        "wires": []
    },
    {
        "id": "cf5100591635d3ef",
        "type": "nmea",
        "z": "b7f598b092ae7889",
        "name": "",
        "property": "payload",
        "outputProperty": "payload",
        "x": 410,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "840db56a734ae809",
        "type": "delay",
        "z": "b7f598b092ae7889",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 200,
        "wires": [
            [
                "5dde0612737d7645"
            ]
        ]
    },
    {
        "id": "5dde0612737d7645",
        "type": "delay",
        "z": "b7f598b092ae7889",
        "name": "",
        "pauseType": "delay",
        "timeout": "40",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 870,
        "y": 200,
        "wires": [
            [
                "67ba2b61dc72b68a",
                "55e8b8b9b81f5d0d"
            ]
        ]
    },
    {
        "id": "fbc3e686c7e023ea",
        "type": "delay",
        "z": "b7f598b092ae7889",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 260,
        "wires": [
            [
                "55e8b8b9b81f5d0d"
            ]
        ]
    },
    {
        "id": "9348f536cc05b160",
        "type": "Bme280",
        "z": "b7f598b092ae7889",
        "name": "BME280",
        "bus": "1",
        "address": "0x76",
        "topic": "bme280",
        "extra": false,
        "x": 460,
        "y": 340,
        "wires": [
            [
                "916960323f5bfdd9",
                "e322e337aca5f0ab"
            ]
        ]
    },
    {
        "id": "0564f4e3f0dcd151",
        "type": "inject",
        "z": "b7f598b092ae7889",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "9348f536cc05b160"
            ]
        ]
    },
    {
        "id": "916960323f5bfdd9",
        "type": "function",
        "z": "b7f598b092ae7889",
        "name": "BAR Message Producer",
        "func": "var checksum = 0;\n\nlet sent = \"IIXDR,P,\" + (msg.payload.pressure_hPa/1000) + \",B,Barometer\";\n\n//sent = \"IIXDR, P, 1.02481, B, Barometer\";\n\nfor(var i=0;i<sent.length;i++){\n    checksum = checksum ^ sent.charCodeAt(i);\n}\n\nvar val = Number(checksum).toString(16);\n\nmsg.payload = \"$\"+sent+\"*\"+val+\"\\r\\n\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 320,
        "wires": [
            [
                "55e8b8b9b81f5d0d",
                "cc23724f39269571"
            ]
        ]
    },
    {
        "id": "cb4128f55eee9c11",
        "type": "debug",
        "z": "b7f598b092ae7889",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 400,
        "wires": []
    },
    {
        "id": "e322e337aca5f0ab",
        "type": "function",
        "z": "b7f598b092ae7889",
        "name": "TEMP Message Producer",
        "func": "var checksum = 0;\n\nlet sent = \"IIXDR,C,\" + (msg.payload.temperature_C) + \",C,TempAir\";\n\n//sent = \"IIXDR, P, 1.02481, B, Barometer\";\n\nfor(var i=0;i<sent.length;i++){\n    checksum = checksum ^ sent.charCodeAt(i);\n}\n\nvar val = Number(checksum).toString(16);\n\nmsg.payload = \"$\"+sent+\"*\"+val+\"\\r\\n\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 360,
        "wires": [
            [
                "55e8b8b9b81f5d0d",
                "cb4128f55eee9c11"
            ]
        ]
    }
]